
  @import url(//fonts.googleapis.com/css?family=Seaweed+Script);
  @import url(//fonts.googleapis.com/css?family=Comfortaa);
  @import url(//https://fonts.googleapis.com/css?family=Arapey);
  
  h4curly{
    margin-bottom: 0.5rem;
    font-family: ''Arapey'', serif; 
    font-weight: 1700;
    line-height: 1.1;
    font-size: 20 rem;
  }

  .navbar {
    font-size: 22px;
    font-family: "Arapey", serif;
    font-weight: 150;
  }
  body {
     background-image: linear-gradient(#ffffff, #A0fffc);
     padding-bottom: 25rem;
     padding-top: 120px;
  }
     /* font-family: "Arapey", serif; */
     
  }
  .btn-primary {
    color: lightslategray;
    background-color:#393939;
    border-color:#A0fffc;
  }

  .btn {
    color: white;
    background-color:#393939;
    border-color:#393939;
  }

  .btn-primary:hover {
    color: #fff;
    background-color: #A0fffc;
    border-color: #A0fffc; /*set the color you want here*/
}
  .bg-dark {
    background-color: #393939 !important;
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    /* font-family: "Comfortaa", cursive; */
    font-weight: 50;
    color: #393939;
  }
  .img-responsive {
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 200px;
  }
  .jumbotron {
    padding: 0rem 0rem;
    margin-bottom: 0rem;
  } 
  .jumbotron1 {
    margin-top: 0rem;
    padding: 2rem 2rem;
    margin-bottom: 1rem;
    /* background-color: #bde3e1; */
  } 
.hero {
  position: relative;
  
  margin: 0;
  
  background-image: url(StaticImg.png);
  background-attachment: fixed;
  
  background-position: bottom center;
  background-size: cover;
  text-align: center !important;
  vertical-align: middle;
  background-attachment: fixed;
 
  padding-top: 5%;
  padding-bottom: 5%;
}

.text-center {
  text-align: center !important;
  vertical-align: middle;
}

@media (min-width:768px) and (max-width:1440px) {
  .hero {
    padding-top: 8%
  }
}
@media (min-width:0px) and (max-width:767px) {
  .media-hide {
  display: none !important;
  }
  .hero {
    padding-top: 13%;
  }
  }

  