.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #A0fffc;
    border-radius: 0.3rem;
  }

  @import url(//fonts.googleapis.com/css?family=Seaweed+Script);
  @import url(//fonts.googleapis.com/css?family=Comfortaa);
  @import url(//https://fonts.googleapis.com/css?family=Arapey);

  h4curly{
    margin-bottom: 0.5rem;
    font-family: ''Arapey'', serif; 
    font-weight: 1700;
    line-height: 1.1;
    font-size: 20 rem;
  }

  .navbar {
    font-size: 22px;
    font-family: "Arapey", serif;
    font-weight: 150;
  }
  body {
     background-image: linear-gradient(#ffffff, #A0fffc);
     padding-bottom: 25rem;
     /* font-family: "Arapey", serif; */
     
  }
  .btn-primary {
    color: lightslategray;
    background-color:#393939;
    border-color:#A0fffc;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: orange;
    border-color: #285e8e; /*set the color you want here*/
}
  .bg-dark {
    background-color: #393939 !important;
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    /* font-family: "Comfortaa", cursive; */
    font-weight: 50;
    color: #393939;
  }
  .img-responsive {
    height: auto;
    width: auto;
    max-height: 150px;
    max-width: 250px;
  }
  .jumbotron {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #A0fffc;
    border-radius: 0.3rem;
}
